body {
    background-color: #30336b;
    color: #dff9fb;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

button {
    background-color: #6ab04c88;
    color: #badc58;
    box-shadow: 3px 3px #eb4e4b69;
    padding: 8px;
    border-radius: 6px;
    font-size: 24px;
}

button:hover {
    background-color: #bbdc58;
    color: #6ab04c;
    box-shadow: 3px 3px #ff7979b8;
}

/* button:active {
} */

img {
    max-width: 800px;
}

#label {
    color:#dff9fb;
}

#right-label {
    box-shadow: 4px 4px #eb4e4b69;
}