body {
  background-image: linear-gradient(#14213d, #000);
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  background-color: #6ab04c88;
  color: #badc58;
  box-shadow: 3px 3px #eb4e4b69;
  padding: 8px;
  border-radius: 6px;
  font-size: 24px;
}

button:hover {
  background-color: #bbdc58;
  color: #6ab04c;
  box-shadow: 3px 3px #ff7979b8;
}

/* button:active {
} */

.cards {
  background-image: linear-gradient(#fca211, #fb8500);
  box-shadow: 4px 6px 16px #6c757d;
  border: #000 1px solid;
  border-radius: 1em;
  color:#000;
  font-size: 20px;
}

img {
  max-width: 800px;
}

#label {
  color: #dff9fb;
}

#right-label {
  box-shadow: 4px 4px #eb4e4b69;
}
